version: '3.8'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://mongodb:27017/ecommerce
      - JWT_SECRET=100911937582d41418a1fb67770bdeb86a42edc1a21d39d2d745ea171dcc6aed237717b8830521bb6f4767cc52628a6bb46e1928881f524d48b4238a0af3056b
      - PORT=5000
    depends_on:
      - mongodb

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=http://localhost:5000/api/users
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodbdata:/data/db

volumes:
  mongodbdata:
